@import url(c:\Users\pc\Desktop\currenyconverter\src\bootstrap\bootstrap.min.css);
.app {
  padding: 1.9375rem 1rem 4.25rem 1rem;
}

@media (min-width: 768px) {
  .app {
    padding: 1.9375rem 5rem 4.25rem 5rem;
  }
}

@media (min-width: 992px) {
  .app {
    padding: 1.9375rem 10rem 4.25rem 10rem;
  }
}

.app > h1 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: normal;
  color: #2b3b48;
  margin-bottom: 41px;
}

.app .currency-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .app .currency-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.app .currency-wrapper .currency-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-right: 0px;
}

@media (min-width: 992px) {
  .app .currency-wrapper .currency-container {
    margin-right: 100px;
  }
}

.app .currency-wrapper .currency-container .currency {
  padding-bottom: 25px;
  margin-bottom: 25px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .app .currency-wrapper .currency-container .currency {
    padding-right: 75px;
  }
}

.app .currency-wrapper .currency-container .currency-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #bac9d5;
}

.app .currency-wrapper .currency-container .currency-inner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .currency-wrapper .currency-container .currency-inner > div span {
  margin-bottom: 5px;
}

.app .currency-wrapper .currency-container .currency-inner .currency-img {
  margin-right: 20px;
  width: auto;
}

.app .currency-wrapper .currency-container .currency-inner .currency-img img {
  max-width: 44px;
  height: auto;
}

.app .currency-wrapper .currency-container .currency-inner .currency-title {
  width: 100%;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .app .currency-wrapper .currency-container .currency-inner .currency-title {
    margin-right: 60px;
  }
}

.app .currency-wrapper .currency-container .currency-inner .currency-title span:first-child {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #2b3b48;
}

.app .currency-wrapper .currency-container .currency-inner .currency-title span:last-child {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #2b3b48;
  white-space: nowrap;
}

.app .currency-wrapper .currency-container .currency-inner .currency-buy,
.app .currency-wrapper .currency-container .currency-inner .currency-sell {
  text-align: right;
  width: 100%;
}

.app .currency-wrapper .currency-container .currency-inner .currency-buy span:first-child,
.app .currency-wrapper .currency-container .currency-inner .currency-sell span:first-child {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: right;
  color: #4f6477;
}

.app .currency-wrapper .currency-container .currency-inner .currency-buy span:last-child,
.app .currency-wrapper .currency-container .currency-inner .currency-sell span:last-child {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #2b3b48;
}

@media (min-width: 768px) {
  .app .currency-wrapper .currency-container .currency-inner .currency-buy span:last-child,
  .app .currency-wrapper .currency-container .currency-inner .currency-sell span:last-child {
    font-size: 16px;
  }
}

.app .currency-wrapper .currency-container .currency-inner .currency-buy {
  margin-right: 60px;
}
/*# sourceMappingURL=converter.css.map */